html, body {
	direction: ltr;
	font-family: tahoma;
	margin: 0;
	background-color: #eee;
}
.languages_bar {background-color:#bbb; margin: 0; padding: 5px; font-size: 14px;}
.languages_bar a:link, a:visited { color: #333; text-decoration: none; margin-right: 5px; }
.languages_bar a:hover { color: #999; }
.languages_bar a.zh { color: #eee; }
nav {
	padding:10px;
	color: #f1f1f1;
	border-bottom: 3px solid #afafaf;
	line-height: 1.75em;
	background: #555 url('../../images/header_bg.jpg') no-repeat right top;
}
nav a:link, nav a:visited { color: #fff; }
nav a:hover { color: #CCC; }
section {padding:20px;}
h1 { font-weight: normal; font-size: 33px; margin: 5px 0; }
@media screen and (max-width: 700px) {
	nav {
		background-image: url('../../images/header_bg2.jpg');
	}
}
@media screen and (max-width: 407px) {
	nav {
		background-image: url('../../images/header_bg3.jpg');
	}	
}